<h1 style="color:red;"> EXERCISE (SET 2) </h1>

# DATA ANALYSIS WITH PANDAS

<h2 style="color : green;"> SERIES </h2>

<p style="color: blue;">1.Write a Pandas program to compare the elements of two Pandas series.  </p>

In [2]:

import pandas as pd

# Creating two series
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Compare the elements of the two series
comparison_result = series1 == series2

# Print the comparison result
print(comparison_result)

0    False
1    False
2    False
3    False
4     True
dtype: bool

<p style="color: blue;">2.Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
Sample Series: [2,4,6,8,14], [1,3,5,7,9]
  </p>

In [3]:

#
import pandas as pd

# Create the two series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Perform arithmetic operations on the series
addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

# Print the results
print("Addition:")
print(addition)
print("-------------------------")
print("\nSubtraction:")
print(subtraction)
print("-------------------------")
print("\nMultiplication:")
print(multiplication)
print("-------------------------")
print("\nDivision:")
print(division)
print("-------------------------")

Addition:
0     3
1     7
2    11
3    15
4    23
dtype: int64
-------------------------

Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64
-------------------------

Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64
-------------------------

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64
-------------------------

<p style="color: blue;"> 3.Write a Pandas program to convert a dictionary to a Pandas series. 
Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}
</p>

In [4]:

import pandas as pd

# Create the dictionary
my_dictionary = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert the dictionary to a Series
my_series = pd.Series(my_dictionary)

# Print the resulting Series
print(my_series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

<p style="color: blue;">  4.Write a Pandas program to convert a given series to an array.
 Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]
</p>

In [5]:

import pandas as pd

# Create the Series
my_series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert the Series to an array
my_array = my_series.to_numpy()

# Print the resulting array
print(my_array)

['Love' 800 'Joy' 789.9 'Peace' True]

<p style="color: blue;"> 5.Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series.
(Use the ‘HomeTeamGoals’ column in the dataset provided)</p>

In [6]:

import pandas as pd

df =pd.read_csv('AfricaCupofNationsMatches.csv')

# Get the most frequent value in the 'HomeTeamGoals' column
most_frequent_value = df['HomeTeamGoals'].value_counts().idxmax()

# Replace everything else as 'Other'
df.loc[df['HomeTeamGoals'] != most_frequent_value, 'HomeTeamGoals'] = 'Other'

# Print the resulting DataFrame
print(df['HomeTeamGoals'])

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

# DATAFRAMES

# 1.	Write a Pandas program to read the given csv file.

In [7]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Control Display of seaborn data
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#000000"})
# Loading dataset
my_dataframe = pd.read_csv('AfricaCupofNationsMatches.csv')
my_dataframe

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0




# 2.	Write a Pandas program to get the first 7 rows of your data frame.

In [8]:
# Get the first 7 rows
first_7_rows = my_dataframe.head(7)

# Print the first 7 rows
print(first_7_rows)

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

# 3.Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.

In [9]:
# Select the desired columns
selected_columns = my_dataframe[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

# Print the selected columns
print(selected_columns)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

# 4.Write a Pandas program to select the rows where Egypt appears.

In [10]:
# Select the rows where 'Egypt' appears in 'HomeTeam' or 'AwayTeam'
egypt_rows = my_dataframe[(my_dataframe['HomeTeam'] == 'Egypt') | (my_dataframe['AwayTeam'] == 'Egypt')]

# Print the selected rows
print(egypt_rows)

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN


# 5.Write a Pandas program to count the number of rows and columns of your data frame.

In [11]:
# Count the number of rows and columns
num_rows = my_dataframe.shape[0]
num_columns = my_dataframe.shape[1]

# Print the number of rows and columns
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 622
Number of columns: 12

# 6.	Write a Pandas program to select the rows where the ‘Attendance’ is missing.

In [12]:
# Select the rows where 'Attendance' is missing
missing_attendance = my_dataframe[my_dataframe['Attendance'].isna()]

# Print the selected rows
print(missing_attendance)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

# 7.	Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.

In [13]:
# Select the rows where 'HomeTeamGoals' are between 3 and 6 inclusive
selected_rows = my_dataframe[(my_dataframe['HomeTeamGoals'] >= 3) & (my_dataframe['HomeTeamGoals'] <= 6)]

# Print the selected rows
print(selected_rows)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

# 8.Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.

In [14]:
# Change the "AwayTeamGoals" in the 3rd row to 10
my_dataframe.at[2, 'AwayTeamGoals'] = 10

# Print the updated DataFrame
print(my_dataframe)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

# 9.	Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.

In [15]:
# Sort the DataFrame by 'HomeTeam' in ascending order and 'HomeTeamScores' in descending order
sorted_df = my_dataframe.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

# Print the sorted DataFrame
print(sorted_df)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

# 10.Write a Pandas program to get list from DataFrame column headers.

In [16]:
# Get a list of column headers
column_headers = my_dataframe.columns.tolist()

# Print the list of column headers
print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

# 11.Write a Pandas program to append a column of your choice to your DataFrame.

In [17]:
# Creating a column with first 5 values and filling rest of cells with NaN

new_column = ['Manchester Unity', 'Liverpool', 'Manchester City', 'Arsenal', 'Aston Villa']

# Create a new Series with the new column values and NaN for the remaining cells
new_series = pd.Series(new_column + [np.nan] * (len(df) - len(new_column)))

# Append the new column to the DataFrame
my_dataframe['NewColumn'] = new_series

# Print the modified DataFrame
print(my_dataframe)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance         NewColumn
0              Municipal Stadium   Khartoum     30000.0  Manchester Unity
1                            NaN        NaN         NaN         Liverpool
2              Municipal Stadium   Khartoum     30000.0   Manchester City
3          Prince Farouk Stadium      Cairo     30000.0           Arsenal
4          Prince Farouk Stadium      Cairo     20000.0       Aston Villa
..                           ...        ...         ...               ...
617             Al Salam Stadium      Cairo      7568.0               NaN
618              30 June Stadium      Cairo      9143.0               NaN
619  Cairo International Stadium      Cairo     49775.0               NaN
620             Al Salam Stadium      Cairo      6340.0               NaN
621  Cairo International Stadium      Cairo     75000.0               NaN

[622 rows x 13 columns]

# 12.Write a Pandas program to add 2 rows to your DataFrame.

In [23]:
# to add 2 rows
new_rows = [{'HomeTeam': 'Team A', 'AwayTeam': 'Team B', 'HomeTeamGoals': 2, 'AwayTeamGoals': 1, 'Attendance': 15000, 'Stadium': 'Stadium X'},
            {'HomeTeam': 'Team C', 'AwayTeam': 'Team D', 'HomeTeamGoals': 3, 'AwayTeamGoals': 2, 'Attendance': 20000, 'Stadium': 'Stadium Y'}]

my_dataframe = my_dataframe._append(new_rows, ignore_index=True)
my_dataframe.tail()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,NewColumn
625,NaN,NaN,NaN,Team C,Team D,3.0,2.0,NaN,NaN,Stadium Y,NaN,20000.0,NaN
626,NaN,NaN,NaN,Team A,Team B,2.0,1.0,NaN,NaN,Stadium X,NaN,15000.0,NaN
627,NaN,NaN,NaN,Team C,Team D,3.0,2.0,NaN,NaN,Stadium Y,NaN,20000.0,NaN
628,NaN,NaN,NaN,Team A,Team B,2.0,1.0,NaN,NaN,Stadium X,NaN,15000.0,NaN
629,NaN,NaN,NaN,Team C,Team D,3.0,2.0,NaN,NaN,Stadium Y,NaN,20000.0,NaN

# 13.	Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.

In [29]:
# Change 'Uganda' to 'China' in the 'AwayTeam' column
my_dataframe['AwayTeam'] = my_dataframe['AwayTeam'].str.strip().replace('Uganda', 'China')

# Print the modified DataFrame
my_dataframe.head(20)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,NewColumn
0,1957.0,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,Manchester Unity
1,1957.0,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,Liverpool
2,1957.0,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,Manchester City
3,1959.0,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,Arsenal
4,1959.0,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,Aston Villa
5,1959.0,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,NaN
6,1962.0,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0,NaN
7,1962.0,18-Jan-62,NaN,Egypt,China,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0,NaN
8,1962.0,20-Jan-62,NaN,Tunisia,China,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN,NaN
9,1962.0,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN,NaN
10,1963.0,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN,NaN
11,1963.0,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN,NaN
12,1963.0,28-Nov-63,NaN,Ethiopia,Tunisia,4.0,2.0,Group A,NaN,Accra Sports Stadium,Accra,NaN,NaN
13,1963.0,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN,NaN
14,1963.0,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN,NaN
15,1963.0,28-Nov-63,NaN,Sudan,Nigeria,4.0,0.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN,NaN
16,1963.0,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN,NaN
17,1963.0,1-Dec-63,NaN,Ghana,Sudan,3.0,0.0,Final,NaN,Accra Sports Stadium,Accra,NaN,NaN
18,1965.0,12-Nov-65,NaN,Tunisia,Ethiopia,4.0,0.0,Group A,NaN,Stade Chedli Zouiten,Tunis,16000.0,NaN
19,1965.0,14-Nov-65,NaN,Senegal,Tunisia,0.0,0.0,Group A,NaN,Stade Chedli Zouiten,Tunis,NaN,NaN

# 14.Write a Pandas program to reset index in your DataFrame.

In [47]:
# Reset the index
my_dataframe = my_dataframe.reset_index(drop=True)

# Print the DataFrame with the reset index
print(my_dataframe)

       Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957.0                  10-Feb-57    NaN     Sudan           Egypt
1    1957.0                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957.0                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959.0                  22-May-59    NaN      Egypt       Ethiopia
4    1959.0                  25-May-59    NaN     Sudan        Ethiopia
..      ...                        ...    ...        ...            ...
619  2019.0  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019.0  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019.0  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622     NaN                        NaN    NaN     Team A         Team B
623     NaN                        NaN    NaN     Team C         Team D

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            2.0            1.0                   NaN
623            3.0            2.0                   NaN

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                                NaN
623                                                NaN

                         Stadium       City  Attendance         NewColumn
0              Municipal Stadium   Khartoum     30000.0  Manchester Unity
1                            NaN        NaN         NaN         Liverpool
2              Municipal Stadium   Khartoum     30000.0   Manchester City
3          Prince Farouk Stadium      Cairo     30000.0           Arsenal
4          Prince Farouk Stadium      Cairo     20000.0       Aston Villa
..                           ...        ...         ...               ...
619  Cairo International Stadium      Cairo     49775.0               NaN
620             Al Salam Stadium      Cairo      6340.0               NaN
621  Cairo International Stadium      Cairo     75000.0               NaN
622                    Stadium X        NaN     15000.0               NaN
623                    Stadium Y        NaN     20000.0               NaN

[624 rows x 13 columns]

# 15.	Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.

In [30]:
# Check if 'Stadium' column is present
if 'Stadium' in my_dataframe.columns:
    
    print("'Stadium' column is present in the DataFrame")
else:
    print("'Stadium' column is not present in the DataFrame")

'Stadium' column is present in the DataFrame

# 16.	Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)

In [51]:
# Convert 'AwayTeamGoals' column from int to float
my_dataframe['AwayTeamGoals'] = my_dataframe['AwayTeamGoals'].astype(float)

# Print the DataFrame with the converted datatype
print(my_dataframe)

       Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957.0                  10-Feb-57    NaN     Sudan           Egypt
1    1957.0                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957.0                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959.0                  22-May-59    NaN      Egypt       Ethiopia
4    1959.0                  25-May-59    NaN     Sudan        Ethiopia
..      ...                        ...    ...        ...            ...
619  2019.0  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019.0  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019.0  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622     NaN                        NaN    NaN     Team A         Team B
623     NaN                        NaN    NaN     Team C         Team D

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            2.0            1.0                   NaN
623            3.0            2.0                   NaN

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                                NaN
623                                                NaN

                         Stadium       City  Attendance         NewColumn
0              Municipal Stadium   Khartoum     30000.0  Manchester Unity
1                            NaN        NaN         NaN         Liverpool
2              Municipal Stadium   Khartoum     30000.0   Manchester City
3          Prince Farouk Stadium      Cairo     30000.0           Arsenal
4          Prince Farouk Stadium      Cairo     20000.0       Aston Villa
..                           ...        ...         ...               ...
619  Cairo International Stadium      Cairo     49775.0               NaN
620             Al Salam Stadium      Cairo      6340.0               NaN
621  Cairo International Stadium      Cairo     75000.0               NaN
622                    Stadium X        NaN     15000.0               NaN
623                    Stadium Y        NaN     20000.0               NaN

[624 rows x 13 columns]

# 17.Write a Pandas program to remove the last 10 rows from your DataFrame.

In [52]:
# Remove the last 10 rows from the DataFrame
my_dataframe = my_dataframe.drop(df.tail(10).index)

# Print the modified DataFrame
print(my_dataframe)

       Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957.0                  10-Feb-57    NaN     Sudan           Egypt
1    1957.0                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957.0                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959.0                  22-May-59    NaN      Egypt       Ethiopia
4    1959.0                  25-May-59    NaN     Sudan        Ethiopia
..      ...                        ...    ...        ...            ...
619  2019.0  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019.0  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019.0  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622     NaN                        NaN    NaN     Team A         Team B
623     NaN                        NaN    NaN     Team C         Team D

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            2.0            1.0                   NaN
623            3.0            2.0                   NaN

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                                NaN
623                                                NaN

                         Stadium       City  Attendance         NewColumn
0              Municipal Stadium   Khartoum     30000.0  Manchester Unity
1                            NaN        NaN         NaN         Liverpool
2              Municipal Stadium   Khartoum     30000.0   Manchester City
3          Prince Farouk Stadium      Cairo     30000.0           Arsenal
4          Prince Farouk Stadium      Cairo     20000.0       Aston Villa
..                           ...        ...         ...               ...
619  Cairo International Stadium      Cairo     49775.0               NaN
620             Al Salam Stadium      Cairo      6340.0               NaN
621  Cairo International Stadium      Cairo     75000.0               NaN
622                    Stadium X        NaN     15000.0               NaN
623                    Stadium Y        NaN     20000.0               NaN

[614 rows x 13 columns]

# 18.Write a Pandas program to iterate over rows in your DataFrame.

In [31]:
# Iterate over rows in the DataFrame
for index, row in my_dataframe.iterrows():
    # Access individual row elements using column names
    column1_value = row['HomeTeam']
    column2_value = row['AwayTeam']
    # Perform desired operations with the row data
    # ...

    # Print row values
    print(f"Row {index}: HomeTeam = {column1_value}, AwayTeam = {column2_value}")

Row 0: HomeTeam = Sudan , AwayTeam = Egypt
Row 1: HomeTeam = Ethiopia , AwayTeam = South Africa
Row 2: HomeTeam = Egypt , AwayTeam = Ethiopia
Row 3: HomeTeam = Egypt, AwayTeam = Ethiopia
Row 4: HomeTeam = Sudan , AwayTeam = Ethiopia
Row 5: HomeTeam = Egypt, AwayTeam = Sudan
Row 6: HomeTeam = Ethiopia , AwayTeam = Tunisia
Row 7: HomeTeam = Egypt, AwayTeam = China
Row 8: HomeTeam = Tunisia , AwayTeam = China
Row 9: HomeTeam = Ethiopia , AwayTeam = Egypt
Row 10: HomeTeam = Ghana , AwayTeam = Tunisia
Row 11: HomeTeam = Ghana , AwayTeam = Ethiopia
Row 12: HomeTeam = Ethiopia , AwayTeam = Tunisia
Row 13: HomeTeam = Egypt, AwayTeam = Nigeria
Row 14: HomeTeam = Egypt, AwayTeam = Sudan
Row 15: HomeTeam = Sudan , AwayTeam = Nigeria
Row 16: HomeTeam = Egypt, AwayTeam = Ethiopia
Row 17: HomeTeam = Ghana , AwayTeam = Sudan
Row 18: HomeTeam = Tunisia , AwayTeam = Ethiopia
Row 19: HomeTeam = Senegal , AwayTeam = Tunisia
Row 20: HomeTeam = Senegal , AwayTeam = Ethiopia
Row 21: HomeTeam = Ghana , AwayTeam = Congo-Léopoldville
Row 22: HomeTeam = Ivory Coast , AwayTeam = Congo-Léopoldville
Row 23: HomeTeam = Ghana , AwayTeam = Ivory Coast
Row 24: HomeTeam = Senegal , AwayTeam = Ivory Coast
Row 25: HomeTeam = Ghana , AwayTeam = Tunisia
Row 26: HomeTeam = Ethiopia , AwayTeam = China
Row 27: HomeTeam = Ivory Coast , AwayTeam = Algeria
Row 28: HomeTeam = Ethiopia , AwayTeam = Ivory Coast
Row 29: HomeTeam = Algeria , AwayTeam = China
Row 30: HomeTeam = Ivory Coast , AwayTeam = China
Row 31: HomeTeam = Ethiopia , AwayTeam = Algeria
Row 32: HomeTeam = Ghana , AwayTeam = Senegal
Row 33: HomeTeam = Congo-Kinshasa , AwayTeam = Congo-Brazzaville
Row 34: HomeTeam = Senegal , AwayTeam = Congo-Brazzaville
Row 35: HomeTeam = Ghana , AwayTeam = Congo-Kinshasa
Row 36: HomeTeam = Congo-Kinshasa , AwayTeam = Senegal
Row 37: HomeTeam = Ghana , AwayTeam = Congo-Brazzaville
Row 38: HomeTeam = Ethiopia , AwayTeam = Congo-Kinshasa
Row 39: HomeTeam = Ghana , AwayTeam = Ivory Coast
Row 40: HomeTeam = Ivory Coast , AwayTeam = Ethiopia
Row 41: HomeTeam = Congo-Kinshasa , AwayTeam = Ghana
Row 42: HomeTeam = Cameroon , AwayTeam = Ivory Coast
Row 43: HomeTeam = Sudan , AwayTeam = Ethiopia
Row 44: HomeTeam = Cameroon , AwayTeam = Ethiopia
Row 45: HomeTeam = Ivory Coast , AwayTeam = Sudan
Row 46: HomeTeam = Ivory Coast , AwayTeam = Ethiopia
Row 47: HomeTeam = Sudan , AwayTeam = Cameroon
Row 48: HomeTeam = Ghana , AwayTeam = Congo-Kinshasa
Row 49: HomeTeam = United Arab Rep. , AwayTeam = Guinea
Row 50: HomeTeam = Congo-Kinshasa , AwayTeam = Guinea
Row 51: HomeTeam = United Arab Rep. , AwayTeam = Ghana
Row 52: HomeTeam = Guinea , AwayTeam = Ghana
Row 53: HomeTeam = United Arab Rep. , AwayTeam = Congo-Kinshasa
Row 54: HomeTeam = Ivory Coast , AwayTeam = Ghana
Row 55: HomeTeam = United Arab Rep. , AwayTeam = Sudan
Row 56: HomeTeam = United Arab Rep. , AwayTeam = Ivory Coast
Row 57: HomeTeam = Sudan , AwayTeam = Ghana
Row 58: HomeTeam = Cameroon , AwayTeam = Kenya
Row 59: HomeTeam = Mali , AwayTeam = Togo
Row 60: HomeTeam = Mali , AwayTeam = Kenya
Row 61: HomeTeam = Cameroon , AwayTeam = Togo
Row 62: HomeTeam = Togo , AwayTeam = Kenya
Row 63: HomeTeam = Cameroon , AwayTeam = Mali
Row 64: HomeTeam = Congo , AwayTeam = Morocco
Row 65: HomeTeam = Zaire , AwayTeam = Sudan
Row 66: HomeTeam = Morocco , AwayTeam = Sudan
Row 67: HomeTeam = Zaire , AwayTeam = Congo
Row 68: HomeTeam = Morocco , AwayTeam = Zaire
Row 69: HomeTeam = Congo , AwayTeam = Sudan
Row 70: HomeTeam = Cameroon , AwayTeam = Congo
Row 71: HomeTeam = Zaire , AwayTeam = Mali
Row 72: HomeTeam = Cameroon , AwayTeam = Zaire
Row 73: HomeTeam = Congo , AwayTeam = Mali
Row 74: HomeTeam = Egypt , AwayTeam = China
Row 75: HomeTeam = Zambia , AwayTeam = Ivory Coast
Row 76: HomeTeam = Egypt , AwayTeam = Zambia
Row 77: HomeTeam = Ivory Coast , AwayTeam = China
Row 78: HomeTeam = Egypt , AwayTeam = Ivory Coast
Row 79: HomeTeam = Zambia , AwayTeam = China
Row 80: HomeTeam = Zaire , AwayTeam = Guinea
Row 81: HomeTeam = Congo , AwayTeam = Mauritius
Row 82: HomeTeam = Guinea , AwayTeam = Mauritius
Row 83: HomeTeam = Congo , AwayTeam = Zaire
Row 84: HomeTeam = Congo , AwayTeam = Guinea
Row 85: HomeTeam = Zaire , AwayTeam = Mauritius
Row 86: HomeTeam = Egypt , AwayTeam = Zaire
Row 87: HomeTeam = Congo , AwayTeam = Zambia
Row 88: HomeTeam = Congo , AwayTeam = Egypt
Row 89: HomeTeam = Zaire , AwayTeam = Zambia
Row 90: HomeTeam = Zaire , AwayTeam = Zambia
Row 91: HomeTeam = Ethiopia , AwayTeam = China
Row 92: HomeTeam = Egypt , AwayTeam = Guinea
Row 93: HomeTeam = Egypt , AwayTeam = China
Row 94: HomeTeam = Ethiopia , AwayTeam = Guinea
Row 95: HomeTeam = Guinea , AwayTeam = China
Row 96: HomeTeam = Ethiopia , AwayTeam = Egypt
Row 97: HomeTeam = Nigeria , AwayTeam = Zaire
Row 98: HomeTeam = Morocco , AwayTeam = Sudan
Row 99: HomeTeam = Nigeria , AwayTeam = Sudan
Row 100: HomeTeam = Morocco , AwayTeam = Zaire
Row 101: HomeTeam = Morocco , AwayTeam = Nigeria
Row 102: HomeTeam = Zaire , AwayTeam = Sudan
Row 103: HomeTeam = Guinea , AwayTeam = Nigeria
Row 104: HomeTeam = Morocco , AwayTeam = Egypt
Row 105: HomeTeam = Morocco , AwayTeam = Nigeria
Row 106: HomeTeam = Guinea , AwayTeam = Egypt
Row 107: HomeTeam = Nigeria , AwayTeam = Egypt
Row 108: HomeTeam = Guinea , AwayTeam = Morocco
Row 109: HomeTeam = Ghana , AwayTeam = Zambia
Row 110: HomeTeam = Nigeria , AwayTeam = Upper Volta
Row 111: HomeTeam = Zambia , AwayTeam = Upper Volta
Row 112: HomeTeam = Nigeria , AwayTeam = Ghana
Row 113: HomeTeam = Zambia , AwayTeam = Nigeria
Row 114: HomeTeam = Ghana , AwayTeam = Upper Volta
Row 115: HomeTeam = Morocco , AwayTeam = Tunisia
Row 116: HomeTeam = Uganda , AwayTeam = Congo
Row 117: HomeTeam = Tunisia , AwayTeam = China
Row 118: HomeTeam = Morocco , AwayTeam = Congo
Row 119: HomeTeam = Congo , AwayTeam = Tunisia
Row 120: HomeTeam = Uganda , AwayTeam = Morocco
Row 121: HomeTeam = Ghana , AwayTeam = Tunisia
Row 122: HomeTeam = Uganda , AwayTeam = Nigeria
Row 123: HomeTeam = Nigeria , AwayTeam = Tunisia
Row 124: HomeTeam = Ghana , AwayTeam = China
Row 125: HomeTeam = Nigeria , AwayTeam = Tanzania
Row 126: HomeTeam = Egypt , AwayTeam = Ivory Coast
Row 127: HomeTeam = Egypt , AwayTeam = Tanzania
Row 128: HomeTeam = Nigeria , AwayTeam = Ivory Coast
Row 129: HomeTeam = Ivory Coast , AwayTeam = Tanzania
Row 130: HomeTeam = Nigeria , AwayTeam = Egypt
Row 131: HomeTeam = Ghana , AwayTeam = Algeria
Row 132: HomeTeam = Morocco , AwayTeam = Guinea
Row 133: HomeTeam = Algeria , AwayTeam = Morocco
Row 134: HomeTeam = Ghana , AwayTeam = Guinea
Row 135: HomeTeam = Algeria , AwayTeam = Guinea
Row 136: HomeTeam = Morocco , AwayTeam = Ghana
Row 137: HomeTeam = Nigeria , AwayTeam = Morocco
Row 138: HomeTeam = Algeria , AwayTeam = Egypt
Row 139: HomeTeam = Morocco , AwayTeam = Egypt
Row 140: HomeTeam = Nigeria , AwayTeam = Algeria
Row 141: HomeTeam = Libya , AwayTeam = Ghana
Row 142: HomeTeam = Cameroon , AwayTeam = Tunisia
Row 143: HomeTeam = Cameroon , AwayTeam = Ghana
Row 144: HomeTeam = Libya , AwayTeam = Tunisia
Row 145: HomeTeam = Ghana , AwayTeam = Tunisia
Row 146: HomeTeam = Libya , AwayTeam = Cameroon
Row 147: HomeTeam = Nigeria , AwayTeam = Ethiopia
Row 148: HomeTeam = Algeria , AwayTeam = Zambia
Row 149: HomeTeam = Zambia , AwayTeam = Ethiopia
Row 150: HomeTeam = Algeria , AwayTeam = Nigeria
Row 151: HomeTeam = Algeria , AwayTeam = Ethiopia
Row 152: HomeTeam = Zambia , AwayTeam = Nigeria
Row 153: HomeTeam = Ghana , AwayTeam = Algeria
Row 154: HomeTeam = Libya , AwayTeam = Zambia
Row 155: HomeTeam = Zambia , AwayTeam = Algeria
Row 156: HomeTeam = Ghana , AwayTeam = Libya
Row 157: HomeTeam = Ivory Coast , AwayTeam = Togo
Row 158: HomeTeam = Egypt , AwayTeam = Cameroon
Row 159: HomeTeam = Cameroon , AwayTeam = Togo
Row 160: HomeTeam = Ivory Coast , AwayTeam = Egypt
Row 161: HomeTeam = Egypt , AwayTeam = Togo
Row 162: HomeTeam = Ivory Coast , AwayTeam = Cameroon
Row 163: HomeTeam = Ghana , AwayTeam = Nigeria
Row 164: HomeTeam = Algeria , AwayTeam = Malawi
Row 165: HomeTeam = Malawi , AwayTeam = Nigeria
Row 166: HomeTeam = Algeria , AwayTeam = Ghana
Row 167: HomeTeam = Algeria , AwayTeam = Nigeria
Row 168: HomeTeam = Ghana , AwayTeam = Malawi
Row 169: HomeTeam = Egypt , AwayTeam = Nigeria
Row 170: HomeTeam = Algeria , AwayTeam = Cameroon
Row 171: HomeTeam = Algeria , AwayTeam = Egypt
Row 172: HomeTeam = Cameroon , AwayTeam = Nigeria
Row 173: HomeTeam = Senegal , AwayTeam = Egypt
Row 174: HomeTeam = Ivory Coast , AwayTeam = Mozambique
Row 175: HomeTeam = Senegal , AwayTeam = Mozambique
Row 176: HomeTeam = Egypt , AwayTeam = Ivory Coast
Row 177: HomeTeam = Ivory Coast , AwayTeam = Senegal
Row 178: HomeTeam = Egypt , AwayTeam = Mozambique
Row 179: HomeTeam = Algeria , AwayTeam = Morocco
Row 180: HomeTeam = Cameroon , AwayTeam = Zambia
Row 181: HomeTeam = Algeria , AwayTeam = Zambia
Row 182: HomeTeam = Cameroon , AwayTeam = Morocco
Row 183: HomeTeam = Morocco , AwayTeam = Zambia
Row 184: HomeTeam = Cameroon , AwayTeam = Algeria
Row 185: HomeTeam = Cameroon , AwayTeam = Ivory Coast
Row 186: HomeTeam = Egypt , AwayTeam = Morocco
Row 187: HomeTeam = Ivory Coast , AwayTeam = Morocco
Row 188: HomeTeam = Egypt , AwayTeam = Cameroon
Row 189: HomeTeam = Morocco , AwayTeam = Zaire
Row 190: HomeTeam = Ivory Coast , AwayTeam = Algeria
Row 191: HomeTeam = Ivory Coast , AwayTeam = Zaire
Row 192: HomeTeam = Morocco , AwayTeam = Algeria
Row 193: HomeTeam = Algeria , AwayTeam = Zaire
Row 194: HomeTeam = Morocco , AwayTeam = Ivory Coast
Row 195: HomeTeam = Cameroon , AwayTeam = Egypt
Row 196: HomeTeam = Nigeria , AwayTeam = Kenya
Row 197: HomeTeam = Cameroon , AwayTeam = Nigeria
Row 198: HomeTeam = Egypt , AwayTeam = Kenya
Row 199: HomeTeam = Cameroon , AwayTeam = Kenya
Row 200: HomeTeam = Nigeria , AwayTeam = Egypt
Row 201: HomeTeam = Nigeria , AwayTeam = Algeria
Row 202: HomeTeam = Morocco , AwayTeam = Cameroon
Row 203: HomeTeam = Morocco , AwayTeam = Algeria
Row 204: HomeTeam = Cameroon , AwayTeam = Nigeria
Row 205: HomeTeam = Algeria , AwayTeam = Nigeria
Row 206: HomeTeam = Ivory Coast , AwayTeam = Egypt
Row 207: HomeTeam = Nigeria , AwayTeam = Egypt
Row 208: HomeTeam = Algeria , AwayTeam = Ivory Coast
Row 209: HomeTeam = Nigeria , AwayTeam = Ivory Coast
Row 210: HomeTeam = Algeria , AwayTeam = Egypt
Row 211: HomeTeam = Zambia , AwayTeam = Cameroon
Row 212: HomeTeam = Senegal , AwayTeam = Kenya
Row 213: HomeTeam = Zambia , AwayTeam = Kenya
Row 214: HomeTeam = Senegal , AwayTeam = Cameroon
Row 215: HomeTeam = Zambia , AwayTeam = Senegal
Row 216: HomeTeam = Cameroon , AwayTeam = Kenya
Row 217: HomeTeam = Zambia , AwayTeam = Nigeria
Row 218: HomeTeam = Algeria , AwayTeam = Senegal
Row 219: HomeTeam = Zambia , AwayTeam = Senegal
Row 220: HomeTeam = Algeria , AwayTeam = Nigeria
Row 221: HomeTeam = Nigeria , AwayTeam = Senegal
Row 222: HomeTeam = Nigeria , AwayTeam = Kenya
Row 223: HomeTeam = Senegal , AwayTeam = Kenya
Row 224: HomeTeam = Cameroon , AwayTeam = Morocco
Row 225: HomeTeam = Morocco , AwayTeam = Zaire
Row 226: HomeTeam = Cameroon , AwayTeam = Zaire
Row 227: HomeTeam = Ivory Coast , AwayTeam = Algeria
Row 228: HomeTeam = Ivory Coast , AwayTeam = Congo
Row 229: HomeTeam = Algeria , AwayTeam = Congo
Row 230: HomeTeam = Zambia , AwayTeam = Egypt
Row 231: HomeTeam = Ghana , AwayTeam = Zambia
Row 232: HomeTeam = Ghana , AwayTeam = Egypt
Row 233: HomeTeam = Nigeria , AwayTeam = Zaire
Row 234: HomeTeam = Cameroon , AwayTeam = Senegal
Row 235: HomeTeam = Ivory Coast , AwayTeam = Zambia
Row 236: HomeTeam = Ghana , AwayTeam = Congo
Row 237: HomeTeam = Ghana , AwayTeam = Nigeria
Row 238: HomeTeam = Cameroon , AwayTeam = Ivory Coast
Row 239: HomeTeam = Nigeria , AwayTeam = Cameroon
Row 240: HomeTeam = Ivory Coast , AwayTeam = Ghana
Row 241: HomeTeam = Tunisia , AwayTeam = Mali
Row 242: HomeTeam = Mali , AwayTeam = Zaire
Row 243: HomeTeam = Tunisia , AwayTeam = Zaire
Row 244: HomeTeam = Nigeria , AwayTeam = Gabon
Row 245: HomeTeam = Egypt , AwayTeam = Gabon
Row 246: HomeTeam = Nigeria , AwayTeam = Egypt
Row 247: HomeTeam = Ivory Coast , AwayTeam = Sierra Leone
Row 248: HomeTeam = Zambia , AwayTeam = Sierra Leone
Row 249: HomeTeam = Zambia , AwayTeam = Ivory Coast
Row 250: HomeTeam = Ghana , AwayTeam = Guinea
Row 251: HomeTeam = Senegal , AwayTeam = Guinea
Row 252: HomeTeam = Ghana , AwayTeam = Senegal
Row 253: HomeTeam = Zaire , AwayTeam = Nigeria
Row 254: HomeTeam = Egypt , AwayTeam = Mali
Row 255: HomeTeam = Zambia , AwayTeam = Senegal
Row 256: HomeTeam = Ghana , AwayTeam = Ivory Coast
Row 257: HomeTeam = Nigeria , AwayTeam = Ivory Coast
Row 258: HomeTeam = Zambia , AwayTeam = Mali
Row 259: HomeTeam = Ivory Coast , AwayTeam = Mali
Row 260: HomeTeam = Nigeria , AwayTeam = Zambia
Row 261: HomeTeam = South Africa , AwayTeam = Cameroon
Row 262: HomeTeam = Egypt , AwayTeam = Angola
Row 263: HomeTeam = Cameroon , AwayTeam = Egypt
Row 264: HomeTeam = South Africa , AwayTeam = Angola
Row 265: HomeTeam = South Africa , AwayTeam = Egypt
Row 266: HomeTeam = Angola , AwayTeam = Cameroon
Row 267: HomeTeam = Zambia , AwayTeam = Algeria
Row 268: HomeTeam = Sierra Leone , AwayTeam = Burkina Faso
Row 269: HomeTeam = Algeria , AwayTeam = Sierra Leone
Row 270: HomeTeam = Zambia , AwayTeam = Burkina Faso
Row 271: HomeTeam = Algeria , AwayTeam = Burkina Faso
Row 272: HomeTeam = Zambia , AwayTeam = Sierra Leone
Row 273: HomeTeam = Gabon , AwayTeam = Liberia
Row 274: HomeTeam = Gabon , AwayTeam = Zaire
Row 275: HomeTeam = Zaire , AwayTeam = Liberia
Row 276: HomeTeam = Ghana , AwayTeam = Ivory Coast
Row 277: HomeTeam = Tunisia , AwayTeam = Mozambique
Row 278: HomeTeam = Ghana , AwayTeam = Tunisia
Row 279: HomeTeam = Ivory Coast , AwayTeam = Mozambique
Row 280: HomeTeam = Tunisia , AwayTeam = Ivory Coast
Row 281: HomeTeam = Ghana , AwayTeam = Mozambique
Row 282: HomeTeam = South Africa , AwayTeam = Algeria
Row 283: HomeTeam = Zambia , AwayTeam = Egypt
Row 284: HomeTeam = Gabon , AwayTeam = Tunisia
Row 285: HomeTeam = Ghana , AwayTeam = Zaire
Row 286: HomeTeam = South Africa , AwayTeam = Ghana
Row 287: HomeTeam = Zambia , AwayTeam = Tunisia
Row 288: HomeTeam = Ghana , AwayTeam = Zambia
Row 289: HomeTeam = South Africa , AwayTeam = Tunisia
Row 290: HomeTeam = Burkina Faso , AwayTeam = Cameroon
Row 291: HomeTeam = Algeria , AwayTeam = Guinea
Row 292: HomeTeam = Cameroon , AwayTeam = Guinea
Row 293: HomeTeam = Burkina Faso , AwayTeam = Algeria
Row 294: HomeTeam = Burkina Faso , AwayTeam = Guinea
Row 295: HomeTeam = Cameroon , AwayTeam = Algeria
Row 296: HomeTeam = DR Congo , AwayTeam = Togo
Row 297: HomeTeam = Ghana , AwayTeam = Tunisia
Row 298: HomeTeam = Tunisia , AwayTeam = DR Congo
Row 299: HomeTeam = Togo , AwayTeam = Ghana
Row 300: HomeTeam = DR Congo , AwayTeam = Ghana
Row 301: HomeTeam = Tunisia , AwayTeam = Togo
Row 302: HomeTeam = South Africa , AwayTeam = Angola
Row 303: HomeTeam = Ivory Coast , AwayTeam = Namibia
Row 304: HomeTeam = Ivory Coast , AwayTeam = South Africa
Row 305: HomeTeam = Angola , AwayTeam = Namibia
Row 306: HomeTeam = Ivory Coast , AwayTeam = Angola
Row 307: HomeTeam = South Africa , AwayTeam = Namibia
Row 308: HomeTeam = Morocco , AwayTeam = Zambia
Row 309: HomeTeam = Egypt , AwayTeam = Mozambique
Row 310: HomeTeam = Egypt , AwayTeam = Zambia
Row 311: HomeTeam = Morocco , AwayTeam = Mozambique
Row 312: HomeTeam = Zambia , AwayTeam = Mozambique
Row 313: HomeTeam = Morocco , AwayTeam = Egypt
Row 314: HomeTeam = Cameroon , AwayTeam = DR Congo
Row 315: HomeTeam = Tunisia , AwayTeam = Burkina Faso
Row 316: HomeTeam = Ivory Coast , AwayTeam = Egypt
Row 317: HomeTeam = Morocco , AwayTeam = South Africa
Row 318: HomeTeam = DR Congo , AwayTeam = South Africa
Row 319: HomeTeam = Burkina Faso , AwayTeam = Egypt
Row 320: HomeTeam = DR Congo , AwayTeam = Burkina Faso
Row 321: HomeTeam = South Africa , AwayTeam = Egypt
Row 322: HomeTeam = Ghana , AwayTeam = Cameroon
Row 323: HomeTeam = Ivory Coast , AwayTeam = Togo
Row 324: HomeTeam = Ghana , AwayTeam = Togo
Row 325: HomeTeam = Cameroon , AwayTeam = Ivory Coast
Row 326: HomeTeam = Ghana , AwayTeam = Ivory Coast
Row 327: HomeTeam = Cameroon , AwayTeam = Togo
Row 328: HomeTeam = South Africa , AwayTeam = Gabon
Row 329: HomeTeam = DR Congo , AwayTeam = Algeria
Row 330: HomeTeam = South Africa , AwayTeam = DR Congo
Row 331: HomeTeam = Algeria , AwayTeam = Gabon
Row 332: HomeTeam = South Africa , AwayTeam = Algeria
Row 333: HomeTeam = DR Congo , AwayTeam = Gabon
Row 334: HomeTeam = Egypt , AwayTeam = Zambia
Row 335: HomeTeam = Burkina Faso , AwayTeam = Senegal
Row 336: HomeTeam = Egypt , AwayTeam = Senegal
Row 337: HomeTeam = Zambia , AwayTeam = Burkina Faso
Row 338: HomeTeam = Egypt , AwayTeam = Burkina Faso
Row 339: HomeTeam = Zambia , AwayTeam = Senegal
Row 340: HomeTeam = Nigeria , AwayTeam = Tunisia
Row 341: HomeTeam = Morocco , AwayTeam = Congo
Row 342: HomeTeam = Nigeria , AwayTeam = Congo
Row 343: HomeTeam = Tunisia , AwayTeam = Morocco
Row 344: HomeTeam = Nigeria , AwayTeam = Morocco
Row 345: HomeTeam = Tunisia , AwayTeam = Congo
Row 346: HomeTeam = Cameroon , AwayTeam = Algeria
Row 347: HomeTeam = South Africa , AwayTeam = Ghana
Row 348: HomeTeam = Egypt , AwayTeam = Tunisia
Row 349: HomeTeam = Nigeria , AwayTeam = Senegal
Row 350: HomeTeam = Nigeria , AwayTeam = South Africa
Row 351: HomeTeam = Cameroon , AwayTeam = Tunisia
Row 352: HomeTeam = South Africa , AwayTeam = Tunisia
Row 353: HomeTeam = Nigeria , AwayTeam = Cameroon
Row 354: HomeTeam = Mali , AwayTeam = Liberia
Row 355: HomeTeam = Algeria , AwayTeam = Nigeria
Row 356: HomeTeam = Mali , AwayTeam = Nigeria
Row 357: HomeTeam = Liberia , AwayTeam = Algeria
Row 358: HomeTeam = Mali , AwayTeam = Algeria
Row 359: HomeTeam = Liberia , AwayTeam = Nigeria
Row 360: HomeTeam = South Africa , AwayTeam = Burkina Faso
Row 361: HomeTeam = Morocco , AwayTeam = Ghana
Row 362: HomeTeam = South Africa , AwayTeam = Ghana
Row 363: HomeTeam = Burkina Faso , AwayTeam = Morocco
Row 364: HomeTeam = South Africa , AwayTeam = Morocco
Row 365: HomeTeam = Burkina Faso , AwayTeam = Ghana
Row 366: HomeTeam = Cameroon , AwayTeam = DR Congo
Row 367: HomeTeam = Togo , AwayTeam = Ivory Coast
Row 368: HomeTeam = Cameroon , AwayTeam = Ivory Coast
Row 369: HomeTeam = DR Congo , AwayTeam = Togo
Row 370: HomeTeam = Cameroon , AwayTeam = Togo
Row 371: HomeTeam = DR Congo , AwayTeam = Ivory Coast
Row 372: HomeTeam = Egypt , AwayTeam = Senegal
Row 373: HomeTeam = Zambia , AwayTeam = Tunisia
Row 374: HomeTeam = Egypt , AwayTeam = Tunisia
Row 375: HomeTeam = Senegal , AwayTeam = Zambia
Row 376: HomeTeam = Egypt , AwayTeam = Zambia
Row 377: HomeTeam = Senegal , AwayTeam = Tunisia
Row 378: HomeTeam = South Africa , AwayTeam = Mali
Row 379: HomeTeam = Nigeria , AwayTeam = Ghana
Row 380: HomeTeam = Cameroon , AwayTeam = Egypt
Row 381: HomeTeam = Senegal , AwayTeam = DR Congo
Row 382: HomeTeam = Nigeria , AwayTeam = Senegal
Row 383: HomeTeam = Mali , AwayTeam = Cameroon
Row 384: HomeTeam = Nigeria , AwayTeam = Mali
Row 385: HomeTeam = Senegal , AwayTeam = Cameroon
Row 386: HomeTeam = Tunisia , AwayTeam = Rwanda
Row 387: HomeTeam = DR Congo , AwayTeam = Guinea
Row 388: HomeTeam = Rwanda , AwayTeam = Guinea
Row 389: HomeTeam = Tunisia , AwayTeam = DR Congo
Row 390: HomeTeam = Tunisia , AwayTeam = Guinea
Row 391: HomeTeam = Rwanda , AwayTeam = DR Congo
Row 392: HomeTeam = Kenya , AwayTeam = Mali
Row 393: HomeTeam = Senegal , AwayTeam = Burkina Faso
Row 394: HomeTeam = Senegal , AwayTeam = Kenya
Row 395: HomeTeam = Burkina Faso , AwayTeam = Mali
Row 396: HomeTeam = Senegal , AwayTeam = Mali
Row 397: HomeTeam = Burkina Faso , AwayTeam = Kenya
Row 398: HomeTeam = Zimbabwe , AwayTeam = Egypt
Row 399: HomeTeam = Cameroon , AwayTeam = Algeria
Row 400: HomeTeam = Cameroon , AwayTeam = Zimbabwe
Row 401: HomeTeam = Algeria , AwayTeam = Egypt
Row 402: HomeTeam = Cameroon , AwayTeam = Egypt
Row 403: HomeTeam = Algeria , AwayTeam = Zimbabwe
Row 404: HomeTeam = Nigeria , AwayTeam = Morocco
Row 405: HomeTeam = South Africa , AwayTeam = Benin
Row 406: HomeTeam = Nigeria , AwayTeam = South Africa

# 19.Write a Pandas program to change the order of your DataFrame columns.

In [55]:
# this changes the order of the columns in the dataset
my_dataframe = my_dataframe[['Stadium','AwayTeam', 'HomeTeam', 'AwayTeamGoals', 'HomeTeamGoals', 'Attendance']]
print(my_dataframe)

                         Stadium       AwayTeam   HomeTeam  AwayTeamGoals  \
0              Municipal Stadium          Egypt     Sudan             2.0
1                            NaN   South Africa  Ethiopia             NaN
2              Municipal Stadium       Ethiopia     Egypt            10.0
3          Prince Farouk Stadium       Ethiopia      Egypt            0.0
4          Prince Farouk Stadium       Ethiopia     Sudan             0.0
..                           ...            ...        ...            ...
619  Cairo International Stadium        Nigeria   Algeria             1.0
620             Al Salam Stadium        Nigeria   Tunisia             1.0
621  Cairo International Stadium        Algeria   Senegal             1.0
622                    Stadium X         Team B     Team A            1.0
623                    Stadium Y         Team D     Team C            2.0

     HomeTeamGoals  Attendance
0              1.0     30000.0
1              NaN         NaN
2              4.0     30000.0
3              4.0     30000.0
4              1.0     20000.0
..             ...         ...
619            2.0     49775.0
620            0.0      6340.0
621            0.0     75000.0
622            2.0     15000.0
623            3.0     20000.0

[614 rows x 6 columns]

<h3 style="color:blue;"> 20.Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.</h3>

In [60]:
# Delete rows where 'HomeTeamGoals' is 0
my_dataframe = my_dataframe[my_dataframe['HomeTeamGoals'] != 0]

print("The updated DataFrame is")
print(my_dataframe)

The updated DataFrame is
                         Stadium       AwayTeam      HomeTeam  AwayTeamGoals  \
0              Municipal Stadium          Egypt        Sudan             2.0
1                            NaN   South Africa     Ethiopia             NaN
2              Municipal Stadium       Ethiopia        Egypt            10.0
3          Prince Farouk Stadium       Ethiopia         Egypt            0.0
4          Prince Farouk Stadium       Ethiopia        Sudan             0.0
..                           ...            ...           ...            ...
616                 Suez Stadium        Algeria  Ivory Coast             1.0
618              30 June Stadium        Tunisia      Senegal             0.0
619  Cairo International Stadium        Nigeria      Algeria             1.0
622                    Stadium X         Team B        Team A            1.0
623                    Stadium Y         Team D        Team C            2.0

     HomeTeamGoals  Attendance
0              1.0     30000.0
1              NaN         NaN
2              4.0     30000.0
3              4.0     30000.0
4              1.0     20000.0
..             ...         ...
616            1.0      8233.0
618            1.0      9143.0
619            2.0     49775.0
622            2.0     15000.0
623            3.0     20000.0

[489 rows x 6 columns]